.env
.env.local
.env.*
venv/
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
media/
staticfiles/
*.log
.DS_Store
.idea/
.vscode/

# Firebase credentials & Service Account keys
*firebase*.json
*serviceAccount*.json
serviceAccountKey.json
firebase_credentials.json
